* { 
  font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #222;
    color: #fff;
    
}

.container{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    min-width: 200px;
    min-height: 150px;
    width: 40%;
    text-align: center
}
.container label {
  text-align: left;
}
.input {
    margin: 10px;
}

.label {
    display: block;
    font-size: 1em;
    color: #666;
    margin-bottom: 2px;
    text-align: middle;
}

.inputclass{
    font-size: 1.4em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    width: 70%;
}

.buttonclass{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}


/* achtergrond */


    /* Footer */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        color: black;
        text-align: left;
        padding-left: 05px;
      }

    .worker-picture {
      width: 130px;
      border-radius: 50%;
    }
    .pageContent { 
      margin-left: 3vh;
      margin-top: 3vh;
      display: grid;
      grid-template-columns: 1fr 0.4fr;
    }
    .contact { 
      grid-column: 1;
    }
    .worker-card {
      background-color: white;
      margin-right: 3vh;
      border-radius: 60px 0px 60px 0px;
      display: block;
    }

    .worker-card h1 { 
      color: black;
      float: right;
      text-align: center;
      font-size: 1.5rem;
      margin-right: 10%;
    }
    .workers { 
      display: grid;
      grid-template-rows: auto;
      grid-gap: 2vh;
    }
   #workerInfo { 
      color: black;
      font-size: 1rem;
      float: right;
    }